h4{
    text-align: center;
    
  }
  body{
    margin-left: 3%;
    margin-top: 5%;
    padding:30px;
    text-align: center;
  }
  div{
    color: red;
    font-weight: bold;
  }
  input{
    color: black;
  }
  h3{
    font-weight: bold;
    color: black;
  }
  
  button.redirect{
    float: right;
  }
  img{
    width: 200px;
    position:relative;
    padding:5px;
    margin:5px
  }
  .example-card {
    padding:2%;
    margin: 3%;
    max-width: 300px;
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  mat-card-subtitle{
    text-align: left;
  }