<body>
  <nav>
  <div>
      <button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>
      <button mat-icon-button><a href="invoice"><mat-icon>shopping_cart</mat-icon></a></button>
      <button mat-icon-button><a href="crop"><mat-icon>store</mat-icon></a></button> 
  </div>
</nav>
  <mat-menu color="primary" #appMenu="matMenu">
      <ng-template matMenuContent let-name="name">
      <button mat-menu-item [matMenuTriggerFor]="registerMenu"><mat-icon>account_circle</mat-icon>SIGNUP</button>
      <button mat-menu-item><a href="login"><mat-icon>account_circle</mat-icon>SIGN-IN</a></button>
      <button mat-menu-item><a href="">LOGOUT</a></button>
      </ng-template>
  </mat-menu>
  <mat-menu #registerMenu="matMenu">
    <ng-template matMenuContent let-name="name">
    <button mat-menu-item ><a href="farmerRegister"><mat-icon>account_circle</mat-icon>FARMER</a></button>
    <button mat-menu-item ><a href="dealerRegister"><mat-icon>account_circle</mat-icon>DEALER</a></button>
    <button mat-menu-item><mat-icon>supervisor_account</mat-icon><a href="register">ADMIN</a></button>
    </ng-template>
</mat-menu>
  
</body>
<router-outlet></router-outlet>